torch==2.4.1+cu121
torchvision==0.19.1+cu121
torchaudio==2.4.1+cu121
numpy==2.1.1
transformers==4.46.2
huggingface_hub==0.24.6
datasets==2.21.0
sentencepiece==0.2.0
accelerate==0.34.2
wheel==0.44.0
flash-attn==2.6.3
liger-kernel
codecarbon==2.7.1
wandb==0.17.9
pyyaml==6.0.2
trl==0.12.0